@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    
    --background: #F1EFEC;
    --foreground: #030303;
    --card: #D4C9BE;
    --primary: #123458;

    --card-foreground: var(--foreground);
    --popover: #ffffff;
    --popover-foreground: var(--foreground);
    --primary-foreground: var(--background);
    --secondary: var(--card);
    --secondary-foreground: var(--foreground);
    --muted: var(--card);
    --muted-foreground: var(--foreground);
    --accent: var(--card);
    --accent-foreground: var(--foreground);
    --destructive: #E6002D;
    --destructive-foreground: var(--background);
    --border: #E6E6E6;
    --input: #E6E6E6;
    --ring: var(--foreground);
    --chart-1: var(--primary);
    --chart-2: var(--card);
    --chart-3: var(--foreground);
    --chart-4: var(--card);
    --chart-5: var(--primary);
    --radius: 0.5rem;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--background);
    --sidebar-accent: var(--card);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: #DADADA;
    --sidebar-ring: #B5B5B5;
  }
  
  .dark {
    --background: #030303;
    --foreground: #F1EFEC;
    --card: #123458;
    --primary: #D4C9BE;
    
    --card-foreground: var(--foreground);
    --popover: #0A0A0A;
    --popover-foreground: var(--foreground);
    --primary-foreground: var(--background);
    --secondary: var(--card);
    --secondary-foreground: var(--foreground);
    --muted: var(--card);
    --muted-foreground: var(--foreground);
    --accent: var(--card);
    --accent-foreground: var(--foreground);
    --destructive: #E6002D;
    --destructive-foreground: var(--background);
    --border: #282828;
    --input: #282828;
    --ring: var(--foreground);
    --chart-1: var(--primary);
    --chart-2: var(--card);
    --chart-3: var(--foreground);
    --chart-4: var(--card);
    --chart-5: var(--primary);
    --radius: 0.5rem;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--background);
    --sidebar-accent: var(--card);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: #282828;
    --sidebar-ring: #B5B5B5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
